<div class="card">
    <div class="collapsed panel panel-default">
        <div class="panel-heading" role="tab">
            <a class="btn btn-secondary" onclick="$('#<%= name %>').collapse('toggle');"><%= name %></a>
        </div>
        <div class="collapse" id="<%=name%>">
            <% methods.forEach( (method) => { %>
                <% if (method.type === "function") {%>
                    <%- include('caller', {name: name, method: method}); %>
                <% } %>
            <% }); %>
        </div>
    </div>
</div>