<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <title>Airchain</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/popper.min.js"></script>
</head>
<body>

<a class="logout" href="/logout">Log out</a>
<h1>Airchain</h1>
<h2 class="welcome"> Welcome <%=userAddress%> </h2>
<br />
<div class="panel-group" role="tablist" aria-multiselectable="true" id="methods">
<% Object.values(contracts).forEach( (contract) => { %>
        <%- include('contract', {name: contract.name, methods: contract.ABI, format: format}); %>
<% }); %>
    <% if (admin) { %>
    <br>
        <div class="card" style="background-color: #0dcaf0">
            <div class="collapsed panel panel-default">
                <div class="panel-heading text-center" role="tab">
                    <a class="btn btn-info btnLook" onclick="$('#AdminMenu').collapse('toggle');">Add user</a>
                </div>
                <div class="collapse" id="AdminMenu" style="">
                    <div><br>
                        <form class="registerUser" id="RegisterUser" action="/register" method="post">
                            <input type="text" placeholder="Email" id="email" name="email">
                            <input type="password" placeholder="Password" id="password" name="password">
                            <input type="submit" class="inputBtns" value="Register user" onclick="console.log('clicked button');">
                        </form>
                        <div id="RegisterUser_out"> </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $('.registerUser').submit(function(event) {
            let objData = $(this).serializeArray();
            $.post('/register', objData,
                function(res) {
                    console.log(res);
                    document.getElementById("RegisterUser_out").innerHTML = res;
                }
            );
            return false;
        });
    </script>
    <% } %>
</div>

<br>
</body>
<script>

    $('.callMethod').submit(function(event) {
        let objData = {
            name: $(this).attr("id").substring(5), //Erase 'call_' prefix of ID
            data: $(this).serializeArray()
        };
        console.log(objData);
        $.post('/callMethod', objData,
            function(res) {
                let localID = event.target.id;
                if (res === String.fromCharCode(13, 10)) { //Empty response
                    document.getElementById((localID + "_out").substring(5)).innerHTML = "No results found";
                } else {
                    document.getElementById((localID + "_out").substring(5)).innerHTML = res; //Erase 'call_' prefix of ID
                }
            }
        );
        return false;
    });


    var coll = document.getElementsByClassName("btnLook");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

</script>
</html>