<% if (typeof result == 'object') { %>
    <div class="card">
        <div class="card-body">
            <% Object.keys(result).slice(result.length).forEach( (elem) => { %>
                <b><%= elem %>:</b>
                <%- include("renderValues", {result: result[elem]}) %>
            <% }) %>
        </div>
    </div>
<% } else { %>
    <%= result %><br>
<% } %>
